.Card {
  background: #333333;
  color: white;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-flow: column;

  .title {
    flex: 0 1 auto;
    h1 {
      font-weight: normal;
      font-size: 1em;
      text-align: center;
    }
  }

  .content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &.center {
      justify-content: space-evenly;
      align-items: center;

      .top, .sub, {
        font-size: 0.75rem;
      }

      .updated {
        font-weight: lighter;
        align-self: flex-end;
        font-size: 0.65rem;
      }

      .main {
        align-self: center;
        justify-content: center;
        font-weight: bold;
        font-size: 1.5rem;
      }

      .sub {
        align-content: flex-end;
      }
    }
  }

  .positive {
    color: #7A65FB;
  }

  .negative {
    color: #D07C74;
  }
}