* {
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
