.SalaryForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1em;
  padding-top: 1em;

  .currencies {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;

    .CurrencySelect:first-child {
      margin-right: 0.5em;
    }

    .CurrencySelect:nth-child(3) {
      margin-left: 0.5em;
    }

  }

  span.icon {
    font-size: 24px;
    line-height: 34px;
    color: transparent;
    text-shadow: 0 0 0 #34797D;
    cursor: default;
  }

  .salary {
    margin-bottom: 1em;
  }

  input[type="text"] {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-left: 10px;
    font-size: inherit;
  }

  input[type="submit"] {
    background: #34797D;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-color: #d9d9d9 #ccc #b3b3b3;
    padding: 1px;
    height: 32px;
    font-size: inherit;
    cursor: pointer;
  }
};