.About, .NotFound {
  padding: 0.5em;
  .text {
    margin: 0 auto;
    padding-bottom: 64px;

    h1 {
      margin-top: 0;
    }

    p {
      margin-bottom: 1em;

      a {
        text-decoration: none;
        color: #3A9FBF;
        img {
          width: 1em;
          margin-left: 0.25rem;
        }
      }
    }

    p:last-child {
      margin-bottom: 0;
    }

    a.back {
      padding: 0.25em;
      border-radius: 4px;
      border: 1px solid #ccc;
      text-decoration: none;
      color: black;

      &:hover {
        background: #409FBE;
        color: white;
      }
    }
  }
}

